@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #a3caca;
}

.header {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  z-index: 999;
  box-shadow: 2px 2px 5px #309091;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #111926;
  height: 80px;
  font-weight: 400;
  color: white;
}

.header .logo {
  width: 200px;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header ul a {
  color: #ffffff;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 400ms ease-out;
}

.header .menu-icon {
  border: 2px;
  margin: 5px 5px;
  padding: 35px 35px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: white;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  transition: background 400ms ease-in-out;
}

.header .menu-icon .nav-icon:before {
  background: white;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 8px;
  transition: all 400ms ease-in-out;
}

.header .menu-icon .nav-icon:after {
  background: white;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: -8px;
  transition: all 400ms ease-out;
}

.header .menu-button {
  display: none;
}

.header .menu-button:checked ~ .menu {
  max-height: 100vh;
  background-color: rgb(48, 144, 145, 0.8);
}

.header .menu-button:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-button:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-button:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.main {
  background-color: #a3caca;
  color: #309091;
  height: auto;
  font-family: "Raleway", sans-serif;
  border: 20px;
}

.splash {
  height: 100vh;
  background: url("img/band5.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  text-align: center;
  color: #111926;
  font-weight: 600;
  text-shadow: 1px 1px white;
  line-height: 1.6;
}

.social-links {
  background-color: #111926;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 2px 5px #309091;
}

.events {
  padding-top: 150px;
  text-align: center;
}

table {
  padding: 10px;
  line-height: 1.6;
  font-weight: 500;
}

.songs {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.youtube {
  padding: 5%;
  border-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video {
  padding-top: 50px;
}

.footer {
  font-family: "Raleway", sans-serif;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 150px;
  width: 100%;
  background: #005e86;
  scroll-snap-align: start;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 16px;
  background-color: #111926;
  color: #309091;
  box-shadow: 5px 2px 5px #309091;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
}

@media (min-width: 90em) {
  .header {
    height: auto;
  }

  .header .logo {
    width: 300px;
    margin-left: 15px;
    margin-top: 5px;
  }
  .header li {
    float: left;
  }
  .header ul a:hover {
    background-color: rgb(48, 144, 145, 0.2);
    border-radius: 20px;
    transition: ease-in-out 400ms;
  }
  .header li a {
    margin: 0;
    border: 0;
    padding: 25px 50px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-top: 20px;
    margin-right: 10px;
  }

  .header .menu-icon {
    display: none;
    border: 2px;
    margin: 5px 5px;
  }
  .active {
    background-color: rgb(48, 144, 145, 0.1);
    border-radius: 20px;
  }

  .header .menu-button:checked ~ .menu {
    max-height: 100vh;
    background-color: rgb(48, 144, 145, 0.8);
    max-width: 100hw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 400ms ease-in-out;
  }

  .splash {
    height: 30vh;
    background: url("img/band1.jpg") no-repeat left center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 150px 200px 50px 200px;
    align-items: right;
    text-align: right;
    color: #111926;
    font-weight: 600;
    text-shadow: 1px 1px white;
    line-height: 1.6;
  }

  .songs {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
